In [113]:
import os
import pandas as pd
import pandas_market_calendars as mcal

In [2]:
DATA_DIR = "/Users/beneverman/Documents/Coding/bp-quant/shared_data/POLYGON/oxford-93-5yrs-minute"

In [3]:
paths = [p for p in os.listdir(DATA_DIR) if p.endswith(".csv")]
assert len(paths) == 93

In [106]:
dfs = [pd.read_csv(os.path.join(DATA_DIR, p), index_col=0) for p in paths]

## Some test processing

In [107]:
def get_aggs(dfs, interval):
    aggs_df = pd.DataFrame()
    allowed_intervals = {'10T', '30T', '65T'}
    assert interval in allowed_intervals, f"Interval must be one of {[allowed_intervals]}"
    for df in dfs:
        ticker = df['ticker'].iloc[0]
        df['datetime'] = pd.to_datetime(df['t'], utc=True, unit='ms').dt.tz_convert('America/New_York')
        # assert df['datetime'].is_monotonic_increasing, "Datetime column is not monotonically increasing"
        df.set_index('datetime', inplace=True)
        agg = df.resample(interval).agg({'c' : 'mean'})
        agg.columns.values[0] = f"{ticker}"
        aggs_df = pd.concat([aggs_df, agg], axis=1)

    return aggs_df

In [108]:
aggs_df = get_aggs(dfs, '65T')

In [109]:
aggs_df

,TMO,ABT,HD,MCD,PG,CAT,DIS,CCI,JNJ,KO,...,COST,IBM,ADP,AVGO,WMT,AMGN,INTU,AXP,MMC,CB
datetime,,,,,,,,,,,,,,,,,,,,,
2018-10-11 03:15:00-04:00,NaN,68.660000,191.110000,NaN,80.630000,142.670000,NaN,NaN,NaN,45.260000,...,NaN,142.000000,NaN,229.000000,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-11 04:20:00-04:00,NaN,NaN,NaN,NaN,80.400000,142.000000,112.000000,NaN,136.030000,45.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,201.180000,NaN,NaN,NaN
2018-10-11 05:25:00-04:00,NaN,NaN,NaN,NaN,80.605000,NaN,NaN,NaN,NaN,45.070000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-11 06:30:00-04:00,226.500000,NaN,193.168889,167.120000,80.923333,141.810000,111.692000,NaN,136.352500,45.315000,...,220.720000,NaN,NaN,229.410000,94.733333,199.260000,201.050000,102.500000,NaN,NaN
2018-10-11 07:35:00-04:00,227.375000,67.923333,193.071523,167.050000,80.867508,142.342222,111.937778,NaN,136.842000,45.367513,...,222.166020,141.727990,140.370000,230.774950,94.898469,200.000000,202.663333,102.800000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-09 11:15:00-04:00,492.623229,96.060248,291.353517,248.305385,142.079060,267.553906,83.865038,92.535465,157.865618,52.401486,...,553.381444,141.151622,248.171073,842.619510,154.054972,270.559827,529.747426,148.938384,192.580945,209.933361
2023-10-09 12:20:00-04:00,493.120755,95.974508,292.394471,248.022531,142.391108,268.041072,84.117395,92.731840,157.734743,52.254185,...,554.664403,141.148651,248.396193,847.174129,154.263491,269.776813,530.851566,148.575891,192.528934,209.333689
2023-10-09 13:25:00-04:00,494.221569,96.408746,294.125342,249.282913,142.878426,270.047663,84.598786,93.278042,158.218345,52.550448,...,556.428335,141.768683,249.424154,853.069179,154.897403,271.512848,533.837367,149.036523,193.043211,209.947760
2023-10-09 14:30:00-04:00,496.824035,96.653774,294.938383,249.341345,143.063211,270.866620,84.698043,93.284500,158.367526,52.677077,...,558.444012,141.975268,250.073115,853.727239,155.391900,271.649392,534.745669,149.144355,193.399169,210.186178
2023-10-09 15:35:00-04:00,496.143846,96.646008,294.837077,249.399280,143.196538,270.604377,84.768304,93.133088,158.315338,52.783058,...,558.868169,142.005962,250.043812,854.141765,155.644231,271.466781,534.456154,148.650765,192.918462,210.050019

In [110]:
aggs_df.reset_index(inplace=True)

In [112]:
aggs_df.to_csv("/Users/beneverman/Documents/Coding/QuantHive/IDVF-Oxford-v1/data/processed-5yr-93-minute/65min.csv")

In [114]:
nyse = mcal.get_calendar('NYSE')

In [152]:
schedule = nyse.schedule('2018-10-11', '2023-10-09')

In [153]:
schedule

                         market_open              market_close
2018-10-11 2018-10-11 13:30:00+00:00 2018-10-11 20:00:00+00:00
2018-10-12 2018-10-12 13:30:00+00:00 2018-10-12 20:00:00+00:00
2018-10-15 2018-10-15 13:30:00+00:00 2018-10-15 20:00:00+00:00
2018-10-16 2018-10-16 13:30:00+00:00 2018-10-16 20:00:00+00:00
2018-10-17 2018-10-17 13:30:00+00:00 2018-10-17 20:00:00+00:00
...                              ...                       ...
2023-10-03 2023-10-03 13:30:00+00:00 2023-10-03 20:00:00+00:00
2023-10-04 2023-10-04 13:30:00+00:00 2023-10-04 20:00:00+00:00
2023-10-05 2023-10-05 13:30:00+00:00 2023-10-05 20:00:00+00:00
2023-10-06 2023-10-06 13:30:00+00:00 2023-10-06 20:00:00+00:00
2023-10-09 2023-10-09 13:30:00+00:00 2023-10-09 20:00:00+00:00

[1256 rows x 2 columns]

In [139]:
dir(nyse.schedule('2018-10-11', '2023-10-09').resample('65T'))

['__annotations__',
 '__class__',
 '__class_getitem__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__orig_bases__',
 '__parameters__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_accessors',
 '_adjust_binner_for_upsample',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_ascending_count',
 '_attributes',
 '_constructor',
 '_convert_obj',
 '_descending_count',
 '_dir_additions',
 '_dir_deletions',
 '_downsample',
 '_from_selection',
 '_get_binner',
 '_get_binner_for_time',
 '_get_index',
 '_get_indices',
 '_get_resampler_for_grouping',
 '_gotitem',
 '_groupby_and_aggregate',
 '_hidden_attrs',
 '_indexer',
 '_infer_selection',
 '_internal_names',
 '_internal_names_set',
 '_is_protocol',
 '_make_mask_from_int',
 '_make_mask_from_list',
 '_make_mask_from_positional_indexer',
 '_make_mask_from_slice',
 '_make_mask_from_tuple',
 '_obj_with_exclusions',
 '_positional_selector',
 '_resampler_for_grouping',
 '_reset_cache',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_timegrouper',
 '_upsample',
 '_wrap_result',
 'agg',
 'aggregate',
 'apply',
 'asfreq',
 'ax',
 'bfill',
 'binner',
 'count',
 'ffill',
 'fillna',
 'first',
 'get_group',
 'groups',
 'indices',
 'interpolate',
 'kind',
 'last',
 'market_close',
 'market_open',
 'max',
 'mean',
 'median',
 'min',
 'ndim',
 'nearest',
 'ngroups',
 'nunique',
 'ohlc',
 'pipe',
 'prod',
 'quantile',
 'sem',
 'size',
 'std',
 'sum',
 'transform',
 'var']